charset="UTF-8"

body{
    background-color: black;
}



body{
    background-image:linear-gradient(to right, grey,black);
    color: whitesmoke;
}
h2{
    text-align: center;
}
h1{
    text-align: center;
}
p{
   font-family: times new roman;
}