@charset="UTF-8"
body{
    background-color: darkcyan;
}

h1{
    color:rgb(cyan);
    font-family:Times new roman;
    text-align: center;
    
}
body{
    background-color:gray;
    
}
h2{
    color:#171b2e;
    font-family: times new roman;
}
p{
    color:whitesmoke;
    font-family: times new roman;
}
h3{
    color:whitesmoke;
}
Lista-do-cadu{
    list-style: none;
    
}
li{
    list-style: ;
    color:black;
}
1,2,3,4{
    color:black;
}
